body {    height: 689px;
}
DIV.Centralizar {
            position: absolute;
            width: 800px;
            height: 600px;
            margin-left: -300px; /* half of width */
            margin-top: -400px; /* half of height */
            border-style: solid;           
        }
Div.Formulario {
    position: absolute;
            width: 800px;
            height: 600px;
            margin-left: 0px; /* half of width */
            margin-top: 0px; /* half of height */
            border-style: solid;
}
